
<div class="logInForm w-75 m-auto my-5">
    <h2 class="py-3">Log In</h2>
    <div *ngIf="errorMessage" class=" alert alert-danger">{{errorMessage}}</div>
    <form [formGroup]="logInForm" (ngSubmit)="submitForm(logInForm)">
        
        <div class="inputForm my-2">
            <label>Email</label>
            <input formControlName="email" type="text" class="form form-control">
            <div *ngIf="logInForm.get('email')?.errors && logInForm.get('email')?.touched" class="text-danger">
                <p *ngIf="logInForm.get('email')?.getError('required')" class="text-danger">Email is Required</p>
                <p *ngIf="logInForm.get('email')?.getError('email')" class="text-danger">E-Mail format is Required</p>
                
            </div>
        </div>
        <div class="inputForm my-2">
            <label>Password</label>
            <input formControlName="password" [type]="'password'" class="form form-control" value="FakePSW" id="psw">

            <input type="checkbox" (click)="callToggilePsw()" class="my-3"> Show Password

            <div *ngIf="logInForm.get('password')?.errors && logInForm.get('password')?.touched" class="text-danger">
                <p *ngIf="logInForm.get('password')?.getError('required')" class="text-danger">password is Required</p>
                <p *ngIf="logInForm.get('password')?.getError('pattern')" class="text-danger">Password must start with a letter and the length is 8</p>

            </div>
        </div>
        <button [disabled]="logInForm.invalid" type="submit" class="btn btn-primary">
            <span *ngIf="isLoading"><i class="fa-solid fa-spinner"></i></span>
            <span *ngIf="!isLoading">Submit</span>
            </button>
        
    </form>
</div>
